#introduction {
  padding-top: 100px;
}

.introduction-end {
  padding-top: 60px;
}

.btn-warning {
  padding-left: 50px;
  padding-right: 50px;
}

.about {
  padding-top: 30px;
}

.about-2 {
  padding-bottom: 55px;
}
